:root {
    --dark: #2B4074;
    --light: #4A4A4A;
    --white: #ffffff;
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--light);
    background-color: var(--dark);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    margin-left: 61px;
}

.header__menu-btn {
    width: 40px;
    height: 40px;
    margin: 30px 150px 30px 0;
    color: var(--dark);
    border: none;
    outline: none;
}

.header__menu-btn:hover {
    color: var(--white);
    background-color: var(--dark);
    cursor: pointer;
    border: 1px solid var(--white);
}

.intro {
    background: url(../images/bg-img.jpg) no-repeat center top;
    background-size: cover;
    height: 668px;
    color: var(--white);
    position: relative;
}

.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.intro__title {
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    width: 513px;
    padding-top: 107px;
}

.intro__text {
    font-size: 24px;
    line-height: 26px;
    width: 886px;
    padding-top: 18px;
}

.intro__link-more {
    display: block;
    text-decoration: none;
    width: 200px;
    height: 50px;
    margin-top: 28px;
    background-color: var(--dark);
    color: #F9F6E5;
    padding-top: 18px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 18px;
}

.intro__link-more:hover {
    background-color: var(--white);
    color: var(--light);
}

.pagination {
    padding-top: 124px;
}

.pagination__oval {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--white);
    display: inline-block;
}

.pagination__oval + .pagination__oval {
    margin-left: 10px;
}

.pagination__oval_active {
    background-color: transparent; 
    border: 2px solid var(--white);
}

.intro__arrows {
    position: absolute;
    right: 0;
    top: 264px;
}
.intro__arrow-btn {
    display: block;
    width: 70px;
    height: 70px;
    background-color: var(--dark);
    border: none;
    outline: none;
}

.intro__arrow {
    border-top: 4px solid var(--white);
    border-right: 4px solid var(--white);
    width: 18px;
    height:18px;
}

.intro__arrow-btn:hover, .intro__arrow-btn:active {
    background-color: var(--white);
    cursor: pointer;
    border: none;
}

.intro__arrow-btn:hover>.intro__arrow {
    border-color: var(--light);
}

.intro__left-arrow {
    transform: rotate(-135deg);
    margin-left: 25px;
}

.intro__right-arrow {
    transform: rotate(45deg);
    margin-left: 14px;
}

.promo {
    height: 192px;
}

.promo__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promo__texts {
    color: var(--white);
    width: 580px;
    padding: 71px 0;
}

.promo__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.promo__text {
    font-family: Dosis, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    padding-top: 4px;
}

.promo__btn {
    width: 200px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    outline: none;
    border: none;
    border-radius: 3px;
    color: var(--dark);
}

.promo__btn:hover {
    color: var(--white);
    background-color: var(--dark);
    cursor: pointer;
    border: 1px solid var(--white);
}

.hr {
    color: var(--dark);
    width: 99px;
    border: solid 4px var(--dark);
    margin: 0;
    
}

.services {
    background-color: var(--white);
}

.services__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.services__texts {
    min-width: 400px;
    height: 546px;
}

.services__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    line-height: 56px;
    color: var(--dark);
    font-weight: normal;
    padding-top: 90px;
}

.services__title-sub {
    max-width: 350px;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    padding-top: 76px;
}

.services__hr {
    margin-top: 31px;
}

.services__text {
    max-width: 350px;
    font-size: 18px;
    line-height: 24px;
    color: #797979;
    padding-top: 50px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 920px;
}

.menu__item {
    width: 222px;
    height: 255px;
    border: 5px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.menu__link {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: var(--dark);
    display: none;
}

.menu__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #9B9B9B;
    display: none;
}

.menu__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: var(--light);
}

.menu__item:hover {
    border: 5px solid var(--dark);
}

.menu__item:hover > .menu__link {
    display: block;
}

.menu__item:hover > .menu__text {
    display: block;
}

.works {
    background-image: linear-gradient(to bottom, var(--dark) 0%, var(--white) 100%);
}

.works__inner {
    height: 618px;
    text-align: center;
}

.works__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: var(--white);
    padding-top: 76px;
}

.works__hr {
    margin: 24px auto 0;
    border-color: var(--white);
    background-color: var(--white);
}

.works__examples {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
}

.works__example {
    text-align: center;
    position: relative;
}

.works__img {
    border-radius: 4px;
}

.works__link {
    text-decoration: none;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    margin-top: 29px;
    color: var(--dark);
}

.works__hover {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 243px;
    height: 217px;
    background-color: var(--white);
    border-radius: 4px;
    display: none;
}

.works__info, .works__search {
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 93px;
}

.works__example:hover > .works__hover{
    display: block;
}

