:root {
    --dark: #2B4074;
    --light: #4A4A4A;
    --white: #ffffff;
  }

* {
    box-sizing: border-box;
}

body {
    /*font-family: 'Dosis', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--light);
    /*font-family: 'Roboto Condensed', sans-serif;*/

}


.container {
    max-width: 1440px;
    margin: 0 auto;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    padding: 0 100px 0 61px;
}

.header__menu-btn {
    width: 40px;
    height: 40px;
    margin: 30px 0;
    color: var(--dark);
    border: none;
    outline: none;
}

.header__menu-btn:hover {
    color: var(--white);
    background-color: var(--light);
    cursor: pointer;
    border: none;
}

.intro {
    background: url(../images/bg-img.jpg) no-repeat center top;
    height: 668px;
    color: var(--white);
}

.intro__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
}

.intro__title {
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    width: 513px;
    padding-top: 107px;
    font-weight: normal;
    
}

.intro__text {
    font-size: 24px;
    line-height: 26px;
    width: 886px;
    padding-top: 18px;
}

.intro__link-more {
    display: block;
    text-decoration: none;
    width: 200px;
    height: 50px;
    margin-top: 28px;
    background-color: var(--dark);
    color: #F9F6E5;
    padding-top: 18px;
    border-radius: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}

.intro__link-more:hover {
    background-color: var(--white);
    color: var(--light);
}

.pagination {
    padding-top: 124px;
}

.pagination__oval {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--white);
    display: inline-block;
}

.pagination__oval + .pagination__oval {
    margin-left: 10px;
}

.pagination__oval_active {
    background-color: transparent; 
    border: 2px solid var(--white);
}

.intro__arrows {
    position: absolute;
    right: 0;
    top: 264px;
}
.intro__arrow-btn {
    display: block;
    width: 70px;
    height: 70px;
    background-color: var(--dark);
    border: none;
    outline: none;
}

.intro__arrow {
    border-top: 4px solid var(--white);
    border-right: 4px solid var(--white);
    width: 18px;
    height:18px;
}

.intro__arrow-btn:hover, .intro__arrow-btn:active {
    background-color: var(--white);
    cursor: pointer;
    border: none;
}

.intro__arrow-btn:hover>.intro__arrow {
    border-color: var(--light);
}

.intro__left-arrow {
    transform: rotate(-135deg);
    margin-left: 25px;
}

.intro__right-arrow {
    transform: rotate(45deg);
    margin-left: 14px;
}

